.brigth{
    text-align: right;
}

.max-width{
    height:70px;
    width:auto;
}

.control-width{
    width:100% !important;
}

.boxes:hover, .boxes:focus{
    box-shadow: 0 0 6px 1px rgba(0, 140, 186, 0.5);
}

.gray-b{
    background-color: #d8d8d8;
}

.size-th{
    max-height:200px;
}

.sombra{
    width: auto;
    height: auto;
    box-shadow: 10px 10px 5px #888888;
}

.active:before {
    content: ' \25CF';
    font-size: 20px;
    color: green;
}

.no-active:before {
    content: ' \25CF';
    font-size: 20px;
    color: red;
}

.pending-sync {
    background-image: url("https://cdn1.iconfinder.com/data/icons/outline-imperial-seo/128/SEO_C_100_09.12.14-3_Artboard_45-256.png");
}