.brigth{
    text-align: right;
}

.max-width{
    height:70px;
    width:auto;
}

.control-width{
    width:100% !important;
}

.boxes:hover, .boxes:focus{
    box-shadow: 0 0 6px 1px rgba(0, 140, 186, 0.5);
}

.gray-b{
    background-color: #8665E8;
}

.size-th{
    max-height:200px;
}

.sombra{
    width: auto;
    height: auto;
    box-shadow: 10px 10px 5px #888888;
}

.active:before {
    content: ' \25CF';
    font-size: 20px;
    color: green;
}

.no-active:before {
    content: ' \25CF';
    font-size: 20px;
    color: red;
}

.pd{
    width:40px;
    height:40px;
}

.add-I {
    display: block;
    width:60px;
    height:60px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    background:#59449C;
    background-image: url("/images/icons/add.png") !important;
    background-position:50% 50% !important;
    background-repeat:no-repeat !important;   
    box-shadow: 5px 5px 3px rgba(0,0,0,.07);
    float: right;
}
.add-I:hover{
    background:#7E5FDB;
}

.add {
    display: block;
    width:60px;
    height:60px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    background:#59449C;
    background-image: url("/images/icons/add.png") !important;
    background-position:50% 50% !important;
    background-repeat:no-repeat !important;   
    box-shadow: 5px 5px 3px rgba(0,0,0,.07);
    position: fixed;
    bottom: 5%;
    right: 5%;
}
.add:hover{
    background:#7E5FDB;
}

.save {
    display: block;
    width:60px;
    height:60px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    background:#59449C;
    background-image: url("/images/icons/save.png") !important;
    background-position:50% 50% !important;
    background-repeat:no-repeat !important;   
    box-shadow: 5px 5px 3px rgba(0,0,0,.07);
    position: fixed;
    bottom: 5%;
    right: 10%;
}
.save:hover{
    background:#7E5FDB;
}

.header{
    position:relative;
    width:100%;
    height:12%;
    background:#4586ef;
    color:#ffffff;
    clear:both;
    display:block;
    text-align:center;
}

.logout{
}
.logout:HOVER {
    background-color: #E4EDFB;
    color: #08306F;
}

#logo-container img {
   width: 15%;
   height: auto;
}