<!DOCTYPE html>
<html ng-app>
<head>
    <title>Arista Client</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/arista.css" />
    <script src="js/vendor/modernizr.js"></script>
</head>
<body>

<div style="width: 66%; min-width: 600px; margin: 0 auto;">
    <div align="right" ng-if="LoggedIn">
        <button ng-click="logout()">Logout</button>
    </div>
    
    
    <ng-view></ng-view>
</div>

<script type="application/dart" src="main.dart"></script>
<script type="text/javascript" src="packages/browser/dart.js"></script>
</body>
</html>