<!DOCTYPE html>
<html ng-app>
<head>
    <title>Arista Client</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/arista.css" />
    <script src="js/vendor/modernizr.js"></script>
</head>
<body>
<!--
<nav class="icon-bar five-up">
    <a class="item menu-icon">
        <img src="https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png" >
    </a>
    <section class="middle tab-bar-section">
        <h1 class="title">Arista Client</h1>
    </section>   
        
</nav>
-->
<nav class="tab-bar">
    <div class="left-small">
        <a class="item menu-icon">
            <span>
            </span>
        </a>
    </div>
  <div class="middle tab-bar-section"> Arista Client </div>
</nav>

<br>

<div align="right" ng-if="LoggedIn">
    <button ng-click="logout()">Logout</button>
</div>

<ng-view></ng-view>

<script type="application/dart" src="main.dart"></script>
<script type="text/javascript" src="packages/browser/dart.js"></script>
</body>
</html>