<!DOCTYPE html>
<html ng-app>
<head>
    <title>Arista Client</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/arista.css" />
    <script src="js/vendor/modernizr.js"></script>
</head>
<body>

<div class="icon-bar five-up">
    <div class="inner-wrap">
        <nav class="tab-bar">
            <section class="left-big">
                <a class="left-off-canvas-toggle menu-icon" href="#">
                    <span></span>
                </a>
            </section>
            <ul class="title-area">
                 <li class="name">
                    <!--<h1 class="title">ARISTA</h1>-->
                        <div class="large-3 columns">
                         <h1>
                            ARISTA CLIENT
                         </h1>
                         </div>
                 </li>
            </ul>
        </nav>
    </div>
</div>

<div style="width: 66%; min-width: 600px; margin: 0 auto;">
    <div align="right" ng-if="LoggedIn">
        <button ng-click="logout()">Logout</button>
    </div>
    
       
    
    <ng-view></ng-view>
</div>

<script type="application/dart" src="main.dart"></script>
<script type="text/javascript" src="packages/browser/dart.js"></script>
</body>
</html>